USE [master]
GO
/****** Object:  Database [PROYECTO]    Script Date: 12/06/2025 03:50:50 p. m. ******/
CREATE DATABASE [PROYECTO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROYECTO', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\PROYECTO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROYECTO_log', FILENAME = N'D:\SQL\MSSQL16.MSSQLSERVER\MSSQL\DATA\PROYECTO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROYECTO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROYECTO]
GO
/****** Object:  Table [dbo].[TCliente]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Telefono] [varchar](15) NULL,
	[Correo] [varchar](100) NULL,
	[Direccion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TDetallePedido]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TDetallePedido](
	[IdDetallePedido] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdPlato] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetallePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEmpleado]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEmpleado](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Cargo] [varchar](50) NULL,
	[Telefono] [varchar](15) NULL,
	[Correo] [varchar](100) NULL,
	[IdUsuario] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TMesa]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TMesa](
	[IdMesa] [int] IDENTITY(1,1) NOT NULL,
	[NumeroMesa] [int] NOT NULL,
	[Capacidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TPedido]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPedido](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdEmpleado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TPlato]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TPlato](
	[IdPlato] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Categoria] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPlato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TReserva]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TReserva](
	[IdReserva] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdMesa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUsuario]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUsuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Clave] [varchar](100) NOT NULL,
	[TipoUsuario] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TCliente] ON 

INSERT [dbo].[TCliente] ([IdCliente], [Nombre], [Apellido], [Telefono], [Correo], [Direccion]) VALUES (1, N'Carlos', N'Gonzales', N'987654322', N'carlosgonzales@email.com', N'Avenida Central 456')
INSERT [dbo].[TCliente] ([IdCliente], [Nombre], [Apellido], [Telefono], [Correo], [Direccion]) VALUES (2, N'Lucía', N'Pérez', N'912345678', N'lucia@email.com', N'Calle Lima 456')
INSERT [dbo].[TCliente] ([IdCliente], [Nombre], [Apellido], [Telefono], [Correo], [Direccion]) VALUES (3, N'Juan', N'Gonzales', N'987654322', N'juan@email.com', N'Av. Morales 789')
SET IDENTITY_INSERT [dbo].[TCliente] OFF
GO
SET IDENTITY_INSERT [dbo].[TDetallePedido] ON 

INSERT [dbo].[TDetallePedido] ([IdDetallePedido], [IdPedido], [IdPlato], [Cantidad], [PrecioUnitario]) VALUES (2, 2, 2, 1, CAST(10.00 AS Decimal(10, 2)))
INSERT [dbo].[TDetallePedido] ([IdDetallePedido], [IdPedido], [IdPlato], [Cantidad], [PrecioUnitario]) VALUES (3, 3, 3, 1, CAST(20.00 AS Decimal(10, 2)))
INSERT [dbo].[TDetallePedido] ([IdDetallePedido], [IdPedido], [IdPlato], [Cantidad], [PrecioUnitario]) VALUES (4, 4, 4, 2, CAST(18.75 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[TDetallePedido] OFF
GO
SET IDENTITY_INSERT [dbo].[TEmpleado] ON 

INSERT [dbo].[TEmpleado] ([IdEmpleado], [Nombre], [Apellido], [Cargo], [Telefono], [Correo], [IdUsuario]) VALUES (1, N'Carlos', N'Gonzales', N'Mesero', N'987654322', N'carlosgonzales@email.com', 2)
INSERT [dbo].[TEmpleado] ([IdEmpleado], [Nombre], [Apellido], [Cargo], [Telefono], [Correo], [IdUsuario]) VALUES (2, N'María', N'Lopez', N'Mesero', N'999111223', N'maria@quinta.com', 2)
INSERT [dbo].[TEmpleado] ([IdEmpleado], [Nombre], [Apellido], [Cargo], [Telefono], [Correo], [IdUsuario]) VALUES (3, N'José', N'García', N'Chef', N'999111224', N'jose@quinta.com', 3)
SET IDENTITY_INSERT [dbo].[TEmpleado] OFF
GO
SET IDENTITY_INSERT [dbo].[TMesa] ON 

INSERT [dbo].[TMesa] ([IdMesa], [NumeroMesa], [Capacidad]) VALUES (1, 1, 4)
INSERT [dbo].[TMesa] ([IdMesa], [NumeroMesa], [Capacidad]) VALUES (2, 2, 2)
INSERT [dbo].[TMesa] ([IdMesa], [NumeroMesa], [Capacidad]) VALUES (3, 3, 6)
SET IDENTITY_INSERT [dbo].[TMesa] OFF
GO
SET IDENTITY_INSERT [dbo].[TPedido] ON 

INSERT [dbo].[TPedido] ([IdPedido], [Fecha], [Hora], [IdCliente], [IdEmpleado]) VALUES (1, CAST(N'2025-06-01' AS Date), CAST(N'12:30:00' AS Time), 1, 1)
INSERT [dbo].[TPedido] ([IdPedido], [Fecha], [Hora], [IdCliente], [IdEmpleado]) VALUES (2, CAST(N'2025-06-02' AS Date), CAST(N'13:00:00' AS Time), 2, 2)
INSERT [dbo].[TPedido] ([IdPedido], [Fecha], [Hora], [IdCliente], [IdEmpleado]) VALUES (3, CAST(N'2025-06-03' AS Date), CAST(N'14:15:00' AS Time), 3, 3)
SET IDENTITY_INSERT [dbo].[TPedido] OFF
GO
SET IDENTITY_INSERT [dbo].[TPlato] ON 

INSERT [dbo].[TPlato] ([IdPlato], [Nombre], [Descripcion], [Precio], [Categoria]) VALUES (2, N'Ensalada César', N'Ensalada con lechuga, pollo y aderezo César', CAST(10.00 AS Decimal(10, 2)), N'Entradas')
INSERT [dbo].[TPlato] ([IdPlato], [Nombre], [Descripcion], [Precio], [Categoria]) VALUES (3, N'Lomo Saltado', N'Lomo de res con papas fritas y arroz', CAST(20.00 AS Decimal(10, 2)), N'Plato de Fondo')
INSERT [dbo].[TPlato] ([IdPlato], [Nombre], [Descripcion], [Precio], [Categoria]) VALUES (4, N'Arroz Chaufa', N'Arroz frito con pollo y vegetales', CAST(18.75 AS Decimal(10, 2)), N'Plato de Fondo')
SET IDENTITY_INSERT [dbo].[TPlato] OFF
GO
SET IDENTITY_INSERT [dbo].[TReserva] ON 

INSERT [dbo].[TReserva] ([IdReserva], [Fecha], [Hora], [IdCliente], [IdMesa]) VALUES (1, CAST(N'2025-06-01' AS Date), CAST(N'12:30:00' AS Time), 1, 1)
INSERT [dbo].[TReserva] ([IdReserva], [Fecha], [Hora], [IdCliente], [IdMesa]) VALUES (2, CAST(N'2025-06-02' AS Date), CAST(N'13:00:00' AS Time), 2, 2)
INSERT [dbo].[TReserva] ([IdReserva], [Fecha], [Hora], [IdCliente], [IdMesa]) VALUES (3, CAST(N'2025-06-03' AS Date), CAST(N'14:15:00' AS Time), 3, 3)
SET IDENTITY_INSERT [dbo].[TReserva] OFF
GO
SET IDENTITY_INSERT [dbo].[TUsuario] ON 

INSERT [dbo].[TUsuario] ([IdUsuario], [NombreUsuario], [Clave], [TipoUsuario]) VALUES (1, N'admin_updated', N'newpassword123', N'Chef')
INSERT [dbo].[TUsuario] ([IdUsuario], [NombreUsuario], [Clave], [TipoUsuario]) VALUES (2, N'chef1', N'chefpass', N'Chef')
INSERT [dbo].[TUsuario] ([IdUsuario], [NombreUsuario], [Clave], [TipoUsuario]) VALUES (3, N'mesero1', N'meseropass', N'Mesero')
SET IDENTITY_INSERT [dbo].[TUsuario] OFF
GO
ALTER TABLE [dbo].[TDetallePedido]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[TPedido] ([IdPedido])
GO
ALTER TABLE [dbo].[TDetallePedido]  WITH CHECK ADD FOREIGN KEY([IdPlato])
REFERENCES [dbo].[TPlato] ([IdPlato])
GO
ALTER TABLE [dbo].[TEmpleado]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[TUsuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[TPedido]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[TCliente] ([IdCliente])
GO
ALTER TABLE [dbo].[TPedido]  WITH CHECK ADD FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[TEmpleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[TReserva]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[TCliente] ([IdCliente])
GO
ALTER TABLE [dbo].[TReserva]  WITH CHECK ADD FOREIGN KEY([IdMesa])
REFERENCES [dbo].[TMesa] ([IdMesa])
GO
/****** Object:  StoredProcedure [dbo].[spActualizarCliente]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spActualizarCliente]
    @IdCliente INT,
    @NuevoNombre VARCHAR(100),
    @NuevoApellido VARCHAR(100),
    @NuevoTelefono VARCHAR(15),
    @NuevoCorreo VARCHAR(100),
    @NuevaDireccion VARCHAR(200)
AS
BEGIN
    -- Verificar si el cliente existe
    IF EXISTS (SELECT IdCliente FROM TCliente WHERE IdCliente = @IdCliente)
    BEGIN
        -- Actualizar los campos del cliente
        UPDATE TCliente
        SET Nombre = @NuevoNombre, 
            Apellido = @NuevoApellido, 
            Telefono = @NuevoTelefono, 
            Correo = @NuevoCorreo, 
            Direccion = @NuevaDireccion
        WHERE IdCliente = @IdCliente

        SELECT CodError = 0, Mensaje = 'Cliente actualizado correctamente'
    END
    ELSE
    BEGIN
        SELECT CodError = 1, Mensaje = 'Error: El cliente no existe'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spActualizarEmpleado]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spActualizarEmpleado]
    @IdEmpleado INT,
    @NuevoNombre VARCHAR(100),
    @NuevoApellido VARCHAR(100),
    @NuevoCargo VARCHAR(50),
    @NuevoTelefono VARCHAR(15),
    @NuevoCorreo VARCHAR(100),
    @NuevoIdUsuario INT
AS
BEGIN
    -- Verificar si el empleado existe
    IF EXISTS (SELECT IdEmpleado FROM TEmpleado WHERE IdEmpleado = @IdEmpleado)
    BEGIN
        -- Verificar si el nuevo Usuario asociado al empleado existe
        IF EXISTS (SELECT IdUsuario FROM TUsuario WHERE IdUsuario = @NuevoIdUsuario)
        BEGIN
            -- Actualizar los campos del empleado
            UPDATE TEmpleado
            SET Nombre = @NuevoNombre, 
                Apellido = @NuevoApellido, 
                Cargo = @NuevoCargo, 
                Telefono = @NuevoTelefono, 
                Correo = @NuevoCorreo, 
                IdUsuario = @NuevoIdUsuario
            WHERE IdEmpleado = @IdEmpleado

            SELECT CodError = 0, Mensaje = 'Empleado actualizado correctamente'
        END
        ELSE 
            SELECT CodError = 1, Mensaje = 'Error: El nuevo Usuario no existe'
    END
    ELSE
    BEGIN
        SELECT CodError = 1, Mensaje = 'Error: El empleado no existe'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spActualizarPlato]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spActualizarPlato]
    @IdPlato INT,
    @NuevoNombre VARCHAR(100),
    @NuevaDescripcion VARCHAR(255),
    @NuevoPrecio DECIMAL(10,2),
    @NuevaCategoria VARCHAR(100)
AS
BEGIN
    -- Verificar si el plato existe
    IF EXISTS (SELECT IdPlato FROM TPlato WHERE IdPlato = @IdPlato)
    BEGIN
        -- Actualizar los campos del plato
        UPDATE TPlato
        SET Nombre = @NuevoNombre, 
            Descripcion = @NuevaDescripcion, 
            Precio = @NuevoPrecio, 
            Categoria = @NuevaCategoria
        WHERE IdPlato = @IdPlato

        SELECT CodError = 0, Mensaje = 'Plato actualizado correctamente'
    END
    ELSE
    BEGIN
        SELECT CodError = 1, Mensaje = 'Error: El plato no existe'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spActualizarUsuario]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spActualizarUsuario]
    @IdUsuario INT,
    @NuevoNombreUsuario VARCHAR(50),
    @NuevaClave VARCHAR(100),
    @NuevoTipoUsuario VARCHAR(50)
AS
BEGIN
    -- Verificar si el usuario existe
    IF EXISTS (SELECT IdUsuario FROM TUsuario WHERE IdUsuario = @IdUsuario)
    BEGIN
        -- Actualizar los campos del usuario
        UPDATE TUsuario
        SET NombreUsuario = @NuevoNombreUsuario, 
            Clave = @NuevaClave, 
            TipoUsuario = @NuevoTipoUsuario
        WHERE IdUsuario = @IdUsuario

        SELECT CodError = 0, Mensaje = 'Usuario actualizado correctamente'
    END
    ELSE
    BEGIN
        SELECT CodError = 1, Mensaje = 'Error: El usuario no existe'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[spAgregarCliente]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarCliente]
    @IdCliente INT, 
    @Nombre VARCHAR(100), 
    @Apellido VARCHAR(100), 
    @Telefono VARCHAR(15), 
    @Correo VARCHAR(100), 
    @Direccion VARCHAR(200)
AS
BEGIN
    -- Verificar si el IdCliente no está duplicado
    IF NOT EXISTS (SELECT IdCliente FROM TCliente WHERE IdCliente = @IdCliente)
    BEGIN
        INSERT INTO TCliente (Nombre, Apellido, Telefono, Correo, Direccion) 
        VALUES (@Nombre, @Apellido, @Telefono, @Correo, @Direccion)
        SELECT CodError = 0, Mensaje = 'Correcto, cliente insertado'
    END
    ELSE 
        SELECT CodError = 1, Mensaje = 'Error: IdCliente duplicado'
END
GO
/****** Object:  StoredProcedure [dbo].[spAgregarEmpleado]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarEmpleado]
    @Nombre VARCHAR(100), 
    @Apellido VARCHAR(100), 
    @Cargo VARCHAR(50), 
    @Telefono VARCHAR(15), 
    @Correo VARCHAR(100), 
    @IdUsuario INT
AS
BEGIN
    -- Verificar si el Usuario asociado al empleado existe
    IF EXISTS (SELECT IdUsuario FROM TUsuario WHERE IdUsuario = @IdUsuario)
    BEGIN
        INSERT INTO TEmpleado (Nombre, Apellido, Cargo, Telefono, Correo, IdUsuario) 
        VALUES (@Nombre, @Apellido, @Cargo, @Telefono, @Correo, @IdUsuario)
        SELECT CodError = 0, Mensaje = 'Correcto, empleado insertado'
    END
    ELSE 
        SELECT CodError = 1, Mensaje = 'Error: El Usuario no existe'
END
GO
/****** Object:  StoredProcedure [dbo].[spAgregarPlato]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarPlato]
    @Nombre VARCHAR(100), 
    @Descripcion VARCHAR(255), 
    @Precio DECIMAL(10,2), 
    @Categoria VARCHAR(100)
AS
BEGIN
    -- Verificar si el Nombre del Plato no está duplicado
    IF NOT EXISTS (SELECT Nombre FROM TPlato WHERE Nombre = @Nombre)
    BEGIN
        INSERT INTO TPlato (Nombre, Descripcion, Precio, Categoria) 
        VALUES (@Nombre, @Descripcion, @Precio, @Categoria)
        SELECT CodError = 0, Mensaje = 'Correcto, plato insertado'
    END
    ELSE 
        SELECT CodError = 1, Mensaje = 'Error: Plato duplicado'
END
GO
/****** Object:  StoredProcedure [dbo].[spAgregarUsuario]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarUsuario]
    @NombreUsuario VARCHAR(50), 
    @Clave VARCHAR(100), 
    @TipoUsuario VARCHAR(50)
AS
BEGIN
    -- Verificar si el NombreUsuario no está duplicado
    IF NOT EXISTS (SELECT NombreUsuario FROM TUsuario WHERE NombreUsuario = @NombreUsuario)
    BEGIN
        INSERT INTO TUsuario (NombreUsuario, Clave, TipoUsuario) 
        VALUES (@NombreUsuario, @Clave, @TipoUsuario)
        SELECT CodError = 0, Mensaje = 'Correcto, usuario insertado'
    END
    ELSE 
        SELECT CodError = 1, Mensaje = 'Error: NombreUsuario duplicado'
END
GO
/****** Object:  StoredProcedure [dbo].[spBuscarCliente]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spBuscarCliente]
    @Texto VARCHAR(50), 
    @Criterio VARCHAR(10)
AS
BEGIN
    IF (@Criterio = 'IdCliente')
        -- Búsqueda exacta por IdCliente
        SELECT IdCliente, Nombre, Apellido, Direccion 
        FROM TCliente
        WHERE IdCliente = @Texto
    ELSE IF (@Criterio = 'Nombre')
        -- Búsqueda sensitiva por Nombre
        SELECT Nombre, Apellido, Direccion
        FROM TCliente
        WHERE Nombre LIKE '%' + @Texto + '%'
    ELSE IF (@Criterio = 'Apellido')
        -- Búsqueda sensitiva por Apellido
        SELECT Nombre, Apellido, Direccion
        FROM TCliente
        WHERE Apellido LIKE '%' + @Texto + '%'
    ELSE IF (@Criterio = 'Direccion')
        -- Búsqueda sensitiva por Dirección
        SELECT Nombre, Apellido, Direccion
        FROM TCliente
        WHERE Direccion LIKE '%' + @Texto + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[spBuscarEmpleado]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spBuscarEmpleado]
    @Texto VARCHAR(50), 
    @Criterio VARCHAR(10)
AS
BEGIN
    IF (@Criterio = 'IdEmpleado')
        -- Búsqueda exacta por IdEmpleado
        SELECT IdEmpleado, Nombre, Apellido, Cargo, Telefono, Correo
        FROM TEmpleado
        WHERE IdEmpleado = @Texto
    ELSE IF (@Criterio = 'Nombre')
        -- Búsqueda sensitiva por Nombre
        SELECT IdEmpleado, Nombre, Apellido, Cargo, Telefono, Correo
        FROM TEmpleado
        WHERE Nombre LIKE '%' + @Texto + '%'
    ELSE IF (@Criterio = 'Apellido')
        -- Búsqueda sensitiva por Apellido
        SELECT IdEmpleado, Nombre, Apellido, Cargo, Telefono, Correo
        FROM TEmpleado
        WHERE Apellido LIKE '%' + @Texto + '%'
    ELSE IF (@Criterio = 'Cargo')
        -- Búsqueda sensitiva por Cargo
        SELECT IdEmpleado, Nombre, Apellido, Cargo, Telefono, Correo
        FROM TEmpleado
        WHERE Cargo LIKE '%' + @Texto + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[spBuscarPlato]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spBuscarPlato]
    @Texto VARCHAR(50), 
    @Criterio VARCHAR(10)
AS
BEGIN
    IF (@Criterio = 'IdPlato')
        -- Búsqueda exacta por IdPlato
        SELECT IdPlato, Nombre, Descripcion, Precio, Categoria
        FROM TPlato
        WHERE IdPlato = @Texto
    ELSE IF (@Criterio = 'Nombre')
        -- Búsqueda sensitiva por Nombre
        SELECT IdPlato, Nombre, Descripcion, Precio, Categoria
        FROM TPlato
        WHERE Nombre LIKE '%' + @Texto + '%'
    ELSE IF (@Criterio = 'Categoria')
        -- Búsqueda sensitiva por Categoria
        SELECT IdPlato, Nombre, Descripcion, Precio
        FROM TPlato
        WHERE Categoria LIKE '%' + @Texto + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[spBuscarUsuario]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spBuscarUsuario]
    @Texto VARCHAR(50), 
    @Criterio VARCHAR(10)
AS
BEGIN
    IF (@Criterio = 'IdUsuario')
        -- Búsqueda exacta por IdUsuario
        SELECT IdUsuario, NombreUsuario, TipoUsuario
        FROM TUsuario
        WHERE IdUsuario = @Texto
    ELSE IF (@Criterio = 'NombreUsuario')
        -- Búsqueda sensitiva por NombreUsuario
        SELECT IdUsuario, NombreUsuario, TipoUsuario
        FROM TUsuario
        WHERE NombreUsuario LIKE '%' + @Texto + '%'
    ELSE IF (@Criterio = 'TipoUsuario')
        -- Búsqueda sensitiva por TipoUsuario
        SELECT IdUsuario, NombreUsuario
        FROM TUsuario
        WHERE TipoUsuario LIKE '%' + @Texto + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[spEliminarCliente]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spEliminarCliente]
    @IdCliente INT
AS
BEGIN
    -- Verificar si el cliente existe
    IF EXISTS (SELECT IdCliente FROM TCliente WHERE IdCliente = @IdCliente)
    BEGIN
        -- Verificar si el cliente está relacionado con alguna reserva
        IF EXISTS (SELECT IdCliente FROM TReserva WHERE IdCliente = @IdCliente)
        BEGIN
            -- Si está relacionado, no eliminar y dar mensaje de error
            SELECT CodError = 1, Mensaje = 'Error: El cliente está relacionado con reservas y no se puede eliminar'
        END
        ELSE
        BEGIN
            -- Eliminar el cliente si no está relacionado
            DELETE FROM TCliente WHERE IdCliente = @IdCliente
            SELECT CodError = 0, Mensaje = 'Correcto, cliente eliminado'
        END
    END
    ELSE 
        SELECT CodError = 1, Mensaje = 'Error: El cliente no existe'
END
GO
/****** Object:  StoredProcedure [dbo].[spEliminarEmpleado]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spEliminarEmpleado]
    @IdEmpleado INT
AS
BEGIN
    -- Verificar si el empleado existe
    IF EXISTS (SELECT IdEmpleado FROM TEmpleado WHERE IdEmpleado = @IdEmpleado)
    BEGIN
        -- Verificar si el empleado está relacionado con algún pedido
        IF EXISTS (SELECT IdEmpleado FROM TPedido WHERE IdEmpleado = @IdEmpleado)
        BEGIN
            -- Si está relacionado, no eliminar y dar mensaje de error
            SELECT CodError = 1, Mensaje = 'Error: El empleado está relacionado con pedidos y no se puede eliminar'
        END
        ELSE
        BEGIN
            -- Eliminar el empleado si no está relacionado
            DELETE FROM TEmpleado WHERE IdEmpleado = @IdEmpleado
            SELECT CodError = 0, Mensaje = 'Correcto, empleado eliminado'
        END
    END
    ELSE 
        SELECT CodError = 1, Mensaje = 'Error: El empleado no existe'
END
GO
/****** Object:  StoredProcedure [dbo].[spEliminarPlato]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spEliminarPlato]
    @IdPlato INT
AS
BEGIN
    -- Verificar si el plato existe
    IF EXISTS (SELECT IdPlato FROM TPlato WHERE IdPlato = @IdPlato)
    BEGIN
        -- Verificar si el plato está relacionado con algún detalle de pedido
        IF EXISTS (SELECT IdPlato FROM TDetallePedido WHERE IdPlato = @IdPlato)
        BEGIN
            -- Eliminar primero los detalles del pedido que contienen el plato
            DELETE FROM TDetallePedido WHERE IdPlato = @IdPlato
            SELECT CodError = 0, Mensaje = 'Detalles de pedido eliminados'
        END
        
        -- Ahora eliminar el plato
        DELETE FROM TPlato WHERE IdPlato = @IdPlato
        SELECT CodError = 0, Mensaje = 'Correcto, plato eliminado'
    END
    ELSE 
        SELECT CodError = 1, Mensaje = 'Error: El plato no existe'
END
GO
/****** Object:  StoredProcedure [dbo].[spEliminarUsuario]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spEliminarUsuario]
    @IdUsuario INT
AS
BEGIN
    -- Verificar si el usuario existe
    IF EXISTS (SELECT IdUsuario FROM TUsuario WHERE IdUsuario = @IdUsuario)
    BEGIN
        -- Verificar si el usuario está relacionado con algún empleado
        IF EXISTS (SELECT IdUsuario FROM TEmpleado WHERE IdUsuario = @IdUsuario)
        BEGIN
            -- Si está relacionado, no eliminar y dar mensaje de error
            SELECT CodError = 1, Mensaje = 'Error: El usuario está relacionado con empleados y no se puede eliminar'
        END
        ELSE
        BEGIN
            -- Eliminar el usuario si no está relacionado
            DELETE FROM TUsuario WHERE IdUsuario = @IdUsuario
            SELECT CodError = 0, Mensaje = 'Correcto, usuario eliminado'
        END
    END
    ELSE 
        SELECT CodError = 1, Mensaje = 'Error: El usuario no existe'
END
GO
/****** Object:  StoredProcedure [dbo].[spListarCliente]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spListarCliente]
AS
BEGIN
    SELECT IdCliente, Nombre, Apellido, Direccion
    FROM TCliente
END
GO
/****** Object:  StoredProcedure [dbo].[spListarEmpleado]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spListarEmpleado]
AS
BEGIN
    SELECT IdEmpleado, Nombre, Apellido, Cargo, Telefono, Correo
    FROM TEmpleado
END
GO
/****** Object:  StoredProcedure [dbo].[spListarPlato]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spListarPlato]
AS
BEGIN
    SELECT IdPlato, Nombre, Descripcion, Precio, Categoria
    FROM TPlato
END
GO
/****** Object:  StoredProcedure [dbo].[spListarUsuario]    Script Date: 12/06/2025 03:50:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spListarUsuario]
AS
BEGIN
    SELECT IdUsuario, NombreUsuario, TipoUsuario
    FROM TUsuario
END
GO
USE [master]
GO
